In [1]:
# We import pandas into Python
import pandas as pd

# We read in a stock data data file into a data frame and see what it looks like
df = pd.read_csv('./GOOG.csv')

# We display the first 5 rows of the DataFrame
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [2]:
# We load the Google stock data into a DataFrame
google_stock = pd.read_csv('GOOG.csv')

# We load the Apple stock data into a DataFrame
apple_stock = pd.read_csv('AAPL.csv')

# We load the Amazon stock data into a DataFrame
amazon_stock = pd.read_csv('AMZN.csv')

In [3]:
# We create calendar dates between '2000-01-01' and  '2016-12-31'
dates = pd.date_range('2000-01-01', '2016-12-31')

# We create and empty DataFrame that uses the above dates as indices
all_stocks = pd.DataFrame(index = dates)

In [4]:
# Change the Adj Close column label to Google
google_stock = google_stock.rename(columns = {'Adj Close': 'GOOG'})

# Change the Adj Close column label to Apple
apple_stock = apple_stock.rename(columns = {'Adj Close': 'AAPL'})

# Change the Adj Close column label to Amazon
amazon_stock = amazon_stock.rename(columns = {'Adj Close': 'AMZN'})

In [5]:
google_stock.head()

         Date       Open       High        Low      Close       GOOG    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [34]:
print(all_stocks.join(google_stock))

           Date  Open  High  Low  Close  GOOG  Volume
2000-01-01  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-02  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-03  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-04  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-05  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-06  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-07  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-08  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-09  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-10  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-11  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-12  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-13  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-14  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-15  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-16  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-17  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-18  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-19  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-20  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-21  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-22  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-23  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-24  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-25  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-26  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-27  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-28  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-29  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-30  NaN   NaN   NaN  NaN    NaN   NaN     NaN
...         ...   ...   ...  ...    ...   ...     ...
2016-12-02  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-03  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-04  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-05  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-06  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-07  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-08  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-09  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-10  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-11  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-12  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-13  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-14  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-15  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-16  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-17  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-18  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-19  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-20  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-21  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-22  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-23  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-24  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-25  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-26  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-27  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-28  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-29  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-30  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-31  NaN   NaN   NaN  NaN    NaN   NaN     NaN

[6210 rows x 7 columns]

In [21]:
google_stock.dtypes

Date       object
Open      float64
High      float64
Low       float64
Close     float64
GOOG      float64
Volume      int64
dtype: object

In [22]:
all_stocks.dtypes

Series([], dtype: object)

In [23]:
print(all_stocks.join(google_stock))

           Date  Open  High  Low  Close  GOOG  Volume
2000-01-01  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-02  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-03  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-04  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-05  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-06  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-07  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-08  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-09  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-10  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-11  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-12  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-13  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-14  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-15  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-16  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-17  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-18  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-19  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-20  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-21  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-22  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-23  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-24  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-25  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-26  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-27  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-28  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-29  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-30  NaN   NaN   NaN  NaN    NaN   NaN     NaN
...         ...   ...   ...  ...    ...   ...     ...
2016-12-02  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-03  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-04  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-05  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-06  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-07  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-08  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-09  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-10  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-11  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-12  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-13  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-14  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-15  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-16  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-17  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-18  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-19  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-20  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-21  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-22  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-23  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-24  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-25  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-26  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-27  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-28  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-29  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-30  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-31  NaN   NaN   NaN  NaN    NaN   NaN     NaN

[6210 rows x 7 columns]

In [25]:
google_stock

,Date,Open,High,Low,Close,GOOG,Volume
0,2004-08-19,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
1,2004-08-20,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
2,2004-08-23,55.017166,56.373344,54.172661,54.346527,54.346527,18393200
3,2004-08-24,55.260582,55.439419,51.450363,52.096165,52.096165,15361800
4,2004-08-25,52.140873,53.651051,51.604362,52.657513,52.657513,9257400
5,2004-08-26,52.135906,53.626213,51.991844,53.606342,53.606342,7148200
6,2004-08-27,53.700729,53.959049,52.503513,52.732029,52.732029,6258300
7,2004-08-30,52.299839,52.404160,50.675404,50.675404,50.675404,5235700
8,2004-08-31,50.819469,51.519913,50.749920,50.854240,50.854240,4954800
9,2004-09-01,51.018177,51.152302,49.512966,49.801090,49.801090,9206800
10,2004-09-02,49.274517,50.854240,49.150326,50.427021,50.427021,15232100
11,2004-09-03,50.148830,50.541279,49.339096,49.681866,49.681866,5191000
12,2004-09-07,50.178635,50.670437,49.483158,50.461796,50.461796,5891300
13,2004-09-08,50.044510,51.182110,49.925285,50.819469,50.819469,5023000
14,2004-09-09,50.933723,51.023144,50.173668,50.824436,50.824436,4092100
15,2004-09-10,50.471729,52.935703,50.322701,52.324677,52.324677,8764200
16,2004-09-13,52.970478,53.854729,52.886028,53.402668,53.402668,7902900
17,2004-09-14,53.377831,55.638126,53.049961,55.384777,55.384777,10910200
18,2004-09-15,54.922779,56.745922,54.743942,55.638126,55.638126,10793500
19,2004-09-16,55.807030,57.525848,55.464260,56.616764,56.616764,9335800
20,2004-09-17,56.840309,58.365391,56.408119,58.365391,58.365391,9543500
21,2004-09-20,58.097134,60.407108,58.007717,59.294346,59.294346,10708500
22,2004-09-21,59.517895,59.820923,58.375324,58.539257,58.539257,7282900
23,2004-09-22,58.320679,59.448345,58.027588,58.807514,58.807514,7638000
24,2004-09-23,59.036026,60.918781,58.131908,60.019630,60.019630,8599600
25,2004-09-24,60.079243,61.649033,59.493053,59.527828,59.527828,9191900
26,2004-09-27,59.393700,60.049435,58.519386,58.747902,58.747902,7119100
27,2004-09-28,60.258080,63.288372,59.716602,63.020115,63.020115,17056100
28,2004-09-29,62.940632,67.073753,62.707150,65.116478,65.116478,30745600
29,2004-09-30,64.530296,65.722542,64.083199,64.381264,64.381264,13861300
...,...,...,...,...,...,...,...
3283,2017-09-01,941.130005,942.479980,935.150024,937.340027,937.340027,947400
3284,2017-09-05,933.080017,937.000000,921.960022,928.450012,928.450012,1326400
3285,2017-09-06,930.150024,930.914978,919.270020,927.809998,927.809998,1527700
3286,2017-09-07,931.729980,936.409973,923.619995,935.950012,935.950012,1212700
3287,2017-09-08,936.489990,936.989990,924.880005,926.500000,926.500000,1011500
3288,2017-09-11,934.250000,938.380005,926.919983,929.080017,929.080017,1267000
3289,2017-09-12,932.590027,933.479980,923.861023,932.070007,932.070007,1134400
3290,2017-09-13,930.659973,937.250000,929.859985,935.090027,935.090027,1102600
3291,2017-09-14,931.250000,932.770020,924.000000,925.109985,925.109985,1397600
3292,2017-09-15,924.659973,926.489990,916.359985,920.289978,920.289978,2505400
3293,2017-09-18,920.010010,922.080017,910.599976,915.000000,915.000000,1306900
3294,2017-09-19,917.419983,922.419983,912.549988,921.809998,921.809998,936700
3295,2017-09-20,922.979980,933.880005,922.000000,931.580017,931.580017,1669800
3296,2017-09-21,933.000000,936.530029,923.830017,932.450012,932.450012,1290600
3297,2017-09-22,927.750000,934.729980,926.479980,928.530029,928.530029,1052700
3298,2017-09-25,925.450012,926.400024,909.700012,920.969971,920.969971,1856800
3299,2017-09-26,923.719971,930.820007,921.140015,924.859985,924.859985,1666900
3300,2017-09-27,927.739990,949.900024,927.739990,944.489990,944.489990,2239400
3301,2017-09-28,941.359985,950.690002,940.549988,949.500000,949.500000,1020300
3302,2017-09-29,952.000000,959.786011,951.510010,959.109985,959.109985,1581000
3303,2017-10-02,959.979980,962.539978,947.840027,953.270020,953.270020,1283400
3304,2017-10-03,954.000000,958.000000,949.140015,957.789978,957.789978,888300
3305,2017-10-04,957.000000,960.390015,950.690002,951.679993,951.679993,952400
3306,2017-10-05,955.489990,970.909973,955.179993,969.960022,969.960022,1213800
3307,2017-10-06,966.700012,979.460022,963.359985,978.890015,978.890015,1173900
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [31]:
print(google_stock.loc['2016-12-23':'2016-12-26'])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, GOOG, Volume]
Index: []

In [33]:
print(google_stock.loc['2017-10-02': '2017-10-06'])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, GOOG, Volume]
Index: []

In [35]:
print(all_stocks.join(google_stock))

           Date  Open  High  Low  Close  GOOG  Volume
2000-01-01  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-02  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-03  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-04  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-05  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-06  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-07  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-08  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-09  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-10  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-11  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-12  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-13  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-14  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-15  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-16  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-17  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-18  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-19  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-20  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-21  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-22  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-23  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-24  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-25  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-26  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-27  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-28  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-29  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-30  NaN   NaN   NaN  NaN    NaN   NaN     NaN
...         ...   ...   ...  ...    ...   ...     ...
2016-12-02  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-03  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-04  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-05  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-06  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-07  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-08  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-09  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-10  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-11  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-12  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-13  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-14  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-15  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-16  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-17  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-18  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-19  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-20  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-21  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-22  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-23  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-24  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-25  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-26  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-27  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-28  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-29  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-30  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2016-12-31  NaN   NaN   NaN  NaN    NaN   NaN     NaN

[6210 rows x 7 columns]

In [42]:
google_stock.tail(500)

,Date,Open,High,Low,Close,GOOG,Volume
2813,2015-10-21,654.150024,655.869995,641.729980,642.609985,642.609985,1791100
2814,2015-10-22,646.700012,657.799988,644.010010,651.789978,651.789978,4071000
2815,2015-10-23,727.500000,730.000000,701.500000,702.000000,702.000000,6653900
2816,2015-10-26,701.549988,719.150024,701.260010,712.780029,712.780029,2716600
2817,2015-10-27,707.380005,713.619995,704.549988,708.489990,708.489990,2245800
2818,2015-10-28,707.330017,712.979980,703.080017,712.950012,712.950012,2178900
2819,2015-10-29,710.500000,718.260010,710.010010,716.919983,716.919983,1454100
2820,2015-10-30,715.729980,718.000000,710.049988,710.809998,710.809998,1908800
2821,2015-11-02,711.059998,721.619995,705.849976,721.109985,721.109985,1886300
2822,2015-11-03,718.859985,724.650024,714.719971,722.159973,722.159973,1565400
2823,2015-11-04,722.000000,733.099976,721.900024,728.109985,728.109985,1704600
2824,2015-11-05,729.469971,739.479980,729.469971,731.250000,731.250000,1861600
2825,2015-11-06,731.500000,735.409973,727.010010,733.760010,733.760010,1511600
2826,2015-11-09,730.200012,734.710022,719.429993,724.890015,724.890015,2069800
2827,2015-11-10,724.400024,730.590027,718.500000,728.320007,728.320007,1608000
2828,2015-11-11,732.460022,741.000000,730.229980,735.400024,735.400024,1366400
2829,2015-11-12,731.000000,737.799988,728.645020,731.229980,731.229980,1837200
2830,2015-11-13,729.169983,731.150024,716.729980,717.000000,717.000000,2075500
2831,2015-11-16,715.599976,729.489990,711.330017,728.960022,728.960022,1905900
2832,2015-11-17,729.289978,731.844971,723.026978,725.299988,725.299988,1510900
2833,2015-11-18,727.580017,741.409973,727.000000,740.000000,740.000000,1684300
2834,2015-11-19,738.739990,742.000000,737.429993,738.409973,738.409973,1327100
2835,2015-11-20,746.530029,757.919983,743.000000,756.599976,756.599976,2212300
2836,2015-11-23,757.450012,762.708008,751.820007,755.979980,755.979980,1414500
2837,2015-11-24,752.000000,755.278992,737.630005,748.280029,748.280029,2333100
2838,2015-11-25,748.140015,752.000000,746.059998,748.150024,748.150024,1122100
2839,2015-11-27,748.460022,753.409973,747.489990,750.260010,750.260010,838500
2840,2015-11-30,748.809998,754.929993,741.270020,742.599976,742.599976,2097600
2841,2015-12-01,747.109985,768.950012,746.700012,767.039978,767.039978,2134600
2842,2015-12-02,768.900024,775.955017,758.960022,762.380005,762.380005,2230400
...,...,...,...,...,...,...,...
3283,2017-09-01,941.130005,942.479980,935.150024,937.340027,937.340027,947400
3284,2017-09-05,933.080017,937.000000,921.960022,928.450012,928.450012,1326400
3285,2017-09-06,930.150024,930.914978,919.270020,927.809998,927.809998,1527700
3286,2017-09-07,931.729980,936.409973,923.619995,935.950012,935.950012,1212700
3287,2017-09-08,936.489990,936.989990,924.880005,926.500000,926.500000,1011500
3288,2017-09-11,934.250000,938.380005,926.919983,929.080017,929.080017,1267000
3289,2017-09-12,932.590027,933.479980,923.861023,932.070007,932.070007,1134400
3290,2017-09-13,930.659973,937.250000,929.859985,935.090027,935.090027,1102600
3291,2017-09-14,931.250000,932.770020,924.000000,925.109985,925.109985,1397600
3292,2017-09-15,924.659973,926.489990,916.359985,920.289978,920.289978,2505400
3293,2017-09-18,920.010010,922.080017,910.599976,915.000000,915.000000,1306900
3294,2017-09-19,917.419983,922.419983,912.549988,921.809998,921.809998,936700
3295,2017-09-20,922.979980,933.880005,922.000000,931.580017,931.580017,1669800
3296,2017-09-21,933.000000,936.530029,923.830017,932.450012,932.450012,1290600
3297,2017-09-22,927.750000,934.729980,926.479980,928.530029,928.530029,1052700
3298,2017-09-25,925.450012,926.400024,909.700012,920.969971,920.969971,1856800
3299,2017-09-26,923.719971,930.820007,921.140015,924.859985,924.859985,1666900
3300,2017-09-27,927.739990,949.900024,927.739990,944.489990,944.489990,2239400
3301,2017-09-28,941.359985,950.690002,940.549988,949.500000,949.500000,1020300
3302,2017-09-29,952.000000,959.786011,951.510010,959.109985,959.109985,1581000
3303,2017-10-02,959.979980,962.539978,947.840027,953.270020,953.270020,1283400
3304,2017-10-03,954.000000,958.000000,949.140015,957.789978,957.789978,888300
3305,2017-10-04,957.000000,960.390015,950.690002,951.679993,951.679993,952400
3306,2017-10-05,955.489990,970.909973,955.179993,969.960022,969.960022,1213800
3307,2017-10-06,966.700012,979.460022,963.359985,978.890015,978.890015,1173900
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [43]:
all_stocks = all_stocks.join(google_stock, lsuffix='_all_stocks', rsuffix='_google')

In [48]:
print(all_stocks.merge(google_stock))

Empty DataFrame
Columns: [Date, Open, High, Low, Close, GOOG, Volume]
Index: []

In [49]:
print(all_stocks.join(google_stock))

ValueError: columns overlap but no suffix specified: Index(['Date', 'Open', 'High', 'Low', 'Close', 'GOOG', 'Volume'], dtype='object')

In [50]:
apple_stock

,Date,Open,High,Low,Close,AAPL,Volume
0,2000-01-03,3.745536,4.017857,3.631696,3.997768,3.596616,133949200
1,2000-01-04,3.866071,3.950893,3.613839,3.660714,3.293384,128094400
2,2000-01-05,3.705357,3.948661,3.678571,3.714286,3.341579,194580400
3,2000-01-06,3.790179,3.821429,3.392857,3.392857,3.052405,191993200
4,2000-01-07,3.446429,3.607143,3.410714,3.553571,3.196992,115183600
5,2000-01-10,3.642857,3.651786,3.383929,3.491071,3.140763,126266000
6,2000-01-11,3.426339,3.549107,3.232143,3.312500,2.980111,110387200
7,2000-01-12,3.392857,3.410714,3.089286,3.113839,2.801384,244017200
8,2000-01-13,3.374439,3.526786,3.303571,3.455357,3.108633,258171200
9,2000-01-14,3.571429,3.651786,3.549107,3.587054,3.227114,97594000
10,2000-01-18,3.607143,3.785714,3.587054,3.712054,3.339571,114794400
11,2000-01-19,3.772321,3.883929,3.691964,3.805804,3.423914,149410800
12,2000-01-20,4.125000,4.339286,4.053571,4.053571,3.646819,457783200
13,2000-01-21,4.080357,4.080357,3.935268,3.975446,3.576534,123981200
14,2000-01-24,3.872768,4.026786,3.754464,3.794643,3.413873,110219200
15,2000-01-25,3.750000,4.040179,3.656250,4.008929,3.606657,124286400
16,2000-01-26,3.928571,4.078125,3.919643,3.935268,3.540388,91789600
17,2000-01-27,3.886161,4.035714,3.821429,3.928571,3.534363,85036000
18,2000-01-28,3.863839,3.959821,3.593750,3.629464,3.265270,105837200
19,2000-01-31,3.607143,3.709821,3.375000,3.705357,3.333547,175420000
20,2000-02-01,3.714286,3.750000,3.571429,3.580357,3.221090,79508800
21,2000-02-02,3.598214,3.647321,3.464286,3.529018,3.174902,116048800
22,2000-02-03,3.582589,3.723214,3.580357,3.689732,3.319489,118798400
23,2000-02-04,3.712054,3.928571,3.700893,3.857143,3.470102,106330000
24,2000-02-07,3.857143,4.080357,3.783482,4.073661,3.664894,110266800
25,2000-02-08,4.071429,4.147321,3.973214,4.102679,3.691000,102160800
26,2000-02-09,4.075893,4.183036,4.015625,4.022321,3.618706,74841200
27,2000-02-10,4.031250,4.066964,3.928571,4.053571,3.646819,75745600
28,2000-02-11,4.058036,4.075893,3.866071,3.883929,3.494199,53062800
29,2000-02-14,3.904018,4.138393,3.879464,4.136161,3.721122,91884800
...,...,...,...,...,...,...,...
4445,2017-09-01,164.800003,164.940002,163.630005,164.050003,164.050003,16591100
4446,2017-09-05,163.750000,164.250000,160.559998,162.080002,162.080002,29468500
4447,2017-09-06,162.710007,162.990005,160.520004,161.910004,161.910004,21651700
4448,2017-09-07,162.089996,162.240005,160.360001,161.259995,161.259995,21928500
4449,2017-09-08,160.860001,161.149994,158.529999,158.630005,158.630005,28611500
4450,2017-09-11,160.500000,162.050003,159.889999,161.500000,161.500000,31580800
4451,2017-09-12,162.610001,163.960007,158.770004,160.860001,160.860001,71714000
4452,2017-09-13,159.869995,159.960007,157.910004,159.649994,159.649994,44907400
4453,2017-09-14,158.990005,159.399994,158.089996,158.279999,158.279999,23760700
4454,2017-09-15,158.470001,160.970001,158.000000,159.880005,159.880005,49114600
4455,2017-09-18,160.110001,160.500000,158.000000,158.669998,158.669998,28269400
4456,2017-09-19,159.509995,159.770004,158.440002,158.729996,158.729996,20810600
4457,2017-09-20,157.899994,158.259995,153.830002,156.070007,156.070007,52951400
4458,2017-09-21,155.800003,155.800003,152.750000,153.389999,153.389999,37511700
4459,2017-09-22,151.539993,152.270004,150.559998,151.889999,151.889999,46645400
4460,2017-09-25,149.990005,151.830002,149.160004,150.550003,150.550003,44387300
4461,2017-09-26,151.779999,153.919998,151.690002,153.139999,153.139999,36660000
4462,2017-09-27,153.800003,154.720001,153.539993,154.229996,154.229996,25504200
4463,2017-09-28,153.889999,154.279999,152.699997,153.279999,153.279999,22005500
4464,2017-09-29,153.210007,154.130005,152.000000,154.119995,154.119995,26299800
4465,2017-10-02,154.259995,154.449997,152.720001,153.809998,153.809998,18698800
4466,2017-10-03,154.009995,155.089996,153.910004,154.479996,154.479996,16230300
4467,2017-10-04,153.630005,153.860001,152.460007,153.479996,153.479996,20163800
4468,2017-10-05,154.179993,155.440002,154.050003,155.389999,155.389999,21283800
4469,2017-10-06,154.970001,155.490005,154.559998,155.300003,155.300003,17407600
4470,2017-10-09,155.809998,156.729996,155.490005,155.839996,155.839996,16262900
4471,2017-10-10,156.059998,158.000000,155.100006,155.899994,155.899994,15617000
4472,2017-10-11,155.970001,156.979996,155.750000,156.550003,156.550003,16905600
4473,2017-10-12,156.350006,157.369995,155.729996,156.000000,156.000000,16125100
4474,2017-10-13,156.729996,157.279999,156.410004,156.990005,156.990005,16344800

In [51]:
print(all_stocks.join(google_stock, rsuffix='_goog'))

           Date  Open  High  Low  Close  GOOG  Volume Date_goog  Open_goog  \
2000-01-01  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-02  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-03  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-04  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-05  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-06  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-07  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-08  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-09  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-10  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-11  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-12  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-13  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-14  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-15  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-16  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-17  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-18  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-19  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-20  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-21  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-22  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-23  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-24  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-25  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-26  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-27  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-28  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-29  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2000-01-30  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
...         ...   ...   ...  ...    ...   ...     ...       ...        ...
2016-12-02  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-03  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-04  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-05  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-06  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-07  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-08  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-09  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-10  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-11  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-12  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-13  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-14  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-15  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-16  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-17  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-18  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-19  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-20  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-21  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-22  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-23  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-24  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-25  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-26  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-27  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-28  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-29  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-30  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN
2016-12-31  NaN   NaN   NaN  NaN    NaN   NaN     NaN       NaN        NaN

            High_goog  Low_goog  Close_goog  GOOG_goog  Volume_goog
2000-01-01        NaN       NaN         NaN        NaN          NaN
2000-01-02        NaN       NaN         NaN        NaN          NaN
2000-01-03        NaN       NaN         NaN        NaN          NaN
2000-01-04        NaN       NaN         NaN        NaN          NaN
2000-01-05        NaN       NaN         NaN        NaN          NaN
2000-01-06        NaN       NaN         NaN        NaN          NaN
2000-01-07        NaN       NaN         NaN        NaN          NaN
2000-01-08        NaN       NaN         NaN        NaN          NaN
2000-01-09        NaN       NaN         NaN        NaN          NaN
2000-01-10        NaN       NaN         NaN        NaN          NaN
2000-01-11        NaN       NaN         NaN        NaN          NaN
2000-01-12        NaN       NaN         NaN        NaN          NaN
2000-01-13        NaN       NaN         NaN        NaN          NaN
2000-01-14        NaN       NaN         NaN        NaN          NaN
2000-01-15        NaN       NaN         NaN        NaN          NaN
2000-01-16        NaN       NaN         NaN        NaN          NaN
2000-01-17        NaN       NaN         NaN        NaN          NaN
2000-01-18        NaN       NaN         NaN        NaN          NaN
2000-01-19        NaN       NaN         NaN        NaN          NaN
2000-01-20        NaN       NaN         NaN        NaN          NaN
2000-01-21        NaN       NaN         NaN        NaN          NaN
2000-01-22        NaN       NaN         NaN        NaN          NaN
2000-01-23        NaN       NaN         NaN        NaN          NaN
2000-01-24        NaN       NaN         NaN        NaN          NaN
2000-01-25        NaN       NaN         NaN        NaN          NaN
2000-01-26        NaN       NaN         NaN        NaN          NaN
2000-01-27        NaN       NaN         NaN        NaN          NaN
2000-01-28        NaN       NaN         NaN        NaN          NaN
2000-01-29        NaN       NaN         NaN        NaN          NaN
2000-01-30        NaN       NaN         NaN        NaN          NaN
...               ...       ...         ...        ...          ...
2016-12-02        NaN       NaN         NaN        NaN          NaN
2016-12-03        NaN       NaN         NaN        NaN          NaN
2016-12-04        NaN       NaN         NaN        NaN          NaN
2016-12-05        NaN       NaN         NaN        NaN          NaN
2016-12-06        NaN       NaN         NaN        NaN          NaN
2016-12-07        NaN       NaN         NaN        NaN          NaN
2016-12-08        NaN       NaN         NaN        NaN          NaN
2016-12-09        NaN       NaN         NaN        NaN          NaN
2016-12-10        NaN       NaN         NaN        NaN          NaN
2016-12-11        NaN       NaN         NaN        NaN          NaN
2016-12-12        NaN       NaN         NaN        NaN          NaN
2016-12-13        NaN       NaN         NaN        NaN          NaN
2016-12-14        NaN       NaN         NaN        NaN          NaN
2016-12-15        NaN       NaN         NaN        NaN          NaN
2016-12-16        NaN       NaN         NaN        NaN          NaN
2016-12-17        NaN       NaN         NaN        NaN          NaN
2016-12-18        NaN       NaN         NaN        NaN          NaN
2016-12-19        NaN       NaN         NaN        NaN          NaN
2016-12-20        NaN       NaN         NaN        NaN          NaN
2016-12-21        NaN       NaN         NaN        NaN          NaN
2016-12-22        NaN       NaN         NaN        NaN          NaN
2016-12-23        NaN       NaN         NaN        NaN          NaN
2016-12-24        NaN       NaN         NaN        NaN          NaN
2016-12-25        NaN       NaN         NaN        NaN          NaN
2016-12-26        NaN       NaN         NaN        NaN          NaN
2016-12-27        NaN       NaN         NaN        NaN          NaN
2016-12-28        NaN       NaN         NaN        NaN          NaN
2016-12-29        NaN       NaN         NaN        NaN          NaN
2016-12-30        NaN       NaN         NaN        NaN          NaN
2016-12-31        NaN       NaN         NaN        NaN          NaN

[6210 rows x 14 columns]

In [56]:
test = all_stocks.join(google_stock, rsuffix='_goog', inplace = True)

TypeError: join() got an unexpected keyword argument 'inplace'

In [53]:
print(test.loc['2017-10-02': '2017-10-06'])

TypeError: Cannot compare type 'Timestamp' with type 'str'

In [57]:
print(test.asof('20150101'))

Date          NaN
Open          NaN
High          NaN
Low           NaN
Close         NaN
GOOG          NaN
Volume        NaN
Date_goog     NaN
Open_goog     NaN
High_goog     NaN
Low_goog      NaN
Close_goog    NaN
GOOG_goog     NaN
Volume_goog   NaN
Name: 2015-01-01 00:00:00, dtype: float64

In [59]:
print(all_stocks.asof('20170101'))

Date     NaN
Open     NaN
High     NaN
Low      NaN
Close    NaN
GOOG     NaN
Volume   NaN
Name: 2017-01-01 00:00:00, dtype: float64

In [60]:
all_stocks.head()

                    Date  Open  High  Low  Close  GOOG  Volume
2000-01-01 00:00:00  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-02 00:00:00  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-03 00:00:00  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-04 00:00:00  NaN   NaN   NaN  NaN    NaN   NaN     NaN
2000-01-05 00:00:00  NaN   NaN   NaN  NaN    NaN   NaN     NaN